* {
    margin: 0;
    padding: 0;
  }
  .right-navbar {
    display: flex;
    margin-right: 20px;
  }
  body{
      background-color:#DAEAF1 ;
  }
  a{
      text-decoration: none;
  }
  
  header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  
    background-color: white;
    position: sticky;
    width: 100%;
    height: 62px;
    border-bottom: solid 1px #e1e1e1;
  }
  .navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .search-container input[type="text"] {
    padding: 4px;
    margin-top: 5px;
    font-size: 17px;
    border: solid 1px black;
    border-right: none;
  }
  
  .search-container button {
    float: right;
    padding: 4px 6px;
    margin-top: 5px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: solid 1px black;
    cursor: pointer;
  }
  
  .navbar .search-container button:hover {
    background: #ccc;
  }
  .search-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
  }
  
  .signed_in_avatar {
    background-color: #7f7575;
    width: 33px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: relative;
    border: 1px solid #746a6a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .avatar {
    color: #7f7575;
    width: 33px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #746a6a;
  }
  .signed_in_avatar {
    position: relative;
    display: none;
  }
  i.fa.fa-user {
    font-size: 23px;
}
  .signed_in_avatar ul {
    position: absolute;
    left: -50%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    border-radius: 5px;
    opacity: 0;
    visibility: visible;
    transform: translateY(-10px);
    transition: all 0.4s ease;
  }
  
  .signed_in_avatar a {
    color: black;
    text-decoration: none;
  }
  
  .signed_in_avatar button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
  .signed_in_avatar li {
    background-color: rgb(161, 186, 197);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .signed_in_avatar li:hover {
    background-color: white;
  }
  
  /**focus=click ; + ul == do something to the elements below it which is the ul== addds styling on ul when focus on the avatar*/
  .signed_in_avatar button:focus + ul {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateY(10px);
  }
  
